<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61222512413-amrt194vdmoivc4vjqk3q0d2ip4ns2u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61222512413-amrt194vdmoivc4vjqk3q0d2ip4ns2u2</string>
	<key>API_KEY</key>
	<string>AIzaSyCGtZ_MHCgbl9eNVgWHMS8afTcSZ99BNEU</string>
	<key>GCM_SENDER_ID</key>
	<string>61222512413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chefzone.app</string>
	<key>PROJECT_ID</key>
	<string>chef-zone</string>
	<key>STORAGE_BUCKET</key>
	<string>chef-zone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61222512413:ios:79a24ebf39e011574523f4</string>
	<key>DATABASE_URL</key>
	<string>https://chef-zone.firebaseio.com</string>
</dict>
</plist>